<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s7_mc_wolf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,586}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{641,586}</string>
				<key>spriteSourceSize</key>
				<string>{641,586}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{641,586}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s7_mc_wolf0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,586}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{641,586}</string>
				<key>spriteSourceSize</key>
				<string>{641,586}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{641,0},{641,586}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s7_mc_wolf0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,586}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{641,586}</string>
				<key>spriteSourceSize</key>
				<string>{641,586}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1282,0},{641,586}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s7_mc_wolf0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,586}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{641,586}</string>
				<key>spriteSourceSize</key>
				<string>{641,586}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,586},{641,586}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s7_mc_wolf0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,586}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{641,586}</string>
				<key>spriteSourceSize</key>
				<string>{641,586}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{641,586},{641,586}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s7_mc_wolf0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,586}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{641,586}</string>
				<key>spriteSourceSize</key>
				<string>{641,586}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1282,586},{641,586}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s7_mc_wolf0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,586}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{641,586}</string>
				<key>spriteSourceSize</key>
				<string>{641,586}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1172},{641,586}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s7_mc_wolf.png</string>
				<key>textureFileName</key>
				<string>njq_s7_mc_wolf</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
