<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s5_mc_wolf_head0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{639,0},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1278,0},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,730},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{639,730},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1278,730},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1460},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{639,1460},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1278,1460},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,2190},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{639,2190},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1278,2190},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,2920},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_head0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,730}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{639,730}</string>
				<key>spriteSourceSize</key>
				<string>{639,730}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{639,2920},{639,730}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,4096}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s5_mc_wolf_head.png</string>
				<key>textureFileName</key>
				<string>njq_s5_mc_wolf_head</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
