<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s5_mc_sheep0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{458,0},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{916,0},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1374,0},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,454},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{458,454},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{916,454},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1374,454},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,908},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{458,908},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{916,908},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1374,908},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1362},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{458,1362},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_sheep0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{458,454}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{458,454}</string>
				<key>spriteSourceSize</key>
				<string>{458,454}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{916,1362},{458,454}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s5_mc_sheep.png</string>
				<key>textureFileName</key>
				<string>njq_s5_mc_sheep</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
