<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s4_mc_sheep20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{214,0},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{428,0},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{642,0},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{856,0},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1070,0},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1284,0},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1498,0},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1712,0},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,148},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{214,148},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{428,148},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{642,148},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{856,148},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_sheep20014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,148}</string>
				<key>spriteSourceSize</key>
				<string>{214,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1070,148},{214,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s4_mc_sheep2.png</string>
				<key>textureFileName</key>
				<string>njq_s4_mc_sheep2</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
