<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s4_mc_wolf_head0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{448,459}</string>
				<key>spriteSourceSize</key>
				<string>{448,459}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_wolf_head0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{448,459}</string>
				<key>spriteSourceSize</key>
				<string>{448,459}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{448,0},{448,459}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_wolf_head0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{448,459}</string>
				<key>spriteSourceSize</key>
				<string>{448,459}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{896,0},{448,459}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_wolf_head0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{448,459}</string>
				<key>spriteSourceSize</key>
				<string>{448,459}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1344,0},{448,459}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_wolf_head0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{448,459}</string>
				<key>spriteSourceSize</key>
				<string>{448,459}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,459},{448,459}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_wolf_head0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{448,459}</string>
				<key>spriteSourceSize</key>
				<string>{448,459}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{448,459},{448,459}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_wolf_head0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{448,459}</string>
				<key>spriteSourceSize</key>
				<string>{448,459}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{896,459},{448,459}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_wolf_head0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{448,459}</string>
				<key>spriteSourceSize</key>
				<string>{448,459}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1344,459},{448,459}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_wolf_head0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{448,459}</string>
				<key>spriteSourceSize</key>
				<string>{448,459}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,918},{448,459}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s4_mc_wolf_head0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{448,459}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{448,459}</string>
				<key>spriteSourceSize</key>
				<string>{448,459}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{448,918},{448,459}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s4_mc_wolf_head.png</string>
				<key>textureFileName</key>
				<string>njq_s4_mc_wolf_head</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
