<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s3_mc_wolf10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{574,0},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1148,0},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,425},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{574,425},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1148,425},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,850},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{574,850},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1148,850},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1275},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{574,1275},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1148,1275},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1700},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{574,1700},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{574,425}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,425}</string>
				<key>spriteSourceSize</key>
				<string>{574,425}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1148,1700},{574,425}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,4096}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s3_mc_wolf1.png</string>
				<key>textureFileName</key>
				<string>njq_s3_mc_wolf1</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
