<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s5_mc_wolf_tail0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{525,0},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1050,0},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1575,0},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2100,0},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2625,0},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3150,0},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,605},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{525,605},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1050,605},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1575,605},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2100,605},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2625,605},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3150,605},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1210},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{525,1210},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1050,1210},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1575,1210},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2100,1210},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{525,605}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{525,605}</string>
				<key>spriteSourceSize</key>
				<string>{525,605}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2625,1210},{525,605}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s5_mc_wolf_tail.png</string>
				<key>textureFileName</key>
				<string>njq_s5_mc_wolf_tail</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
