<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s5_mc_text0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{715,159}</string>
				<key>spriteSourceSize</key>
				<string>{715,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_text0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{715,159}</string>
				<key>spriteSourceSize</key>
				<string>{715,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{715,0},{715,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_text0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{715,159}</string>
				<key>spriteSourceSize</key>
				<string>{715,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,159},{715,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_text0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{715,159}</string>
				<key>spriteSourceSize</key>
				<string>{715,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{715,159},{715,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_text0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{715,159}</string>
				<key>spriteSourceSize</key>
				<string>{715,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,318},{715,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_text0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{715,159}</string>
				<key>spriteSourceSize</key>
				<string>{715,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{715,318},{715,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_text0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{715,159}</string>
				<key>spriteSourceSize</key>
				<string>{715,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,477},{715,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_text0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{715,159}</string>
				<key>spriteSourceSize</key>
				<string>{715,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{715,477},{715,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_text0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{715,159}</string>
				<key>spriteSourceSize</key>
				<string>{715,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,636},{715,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_text0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{715,159}</string>
				<key>spriteSourceSize</key>
				<string>{715,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{715,636},{715,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s5_mc_text.png</string>
				<key>textureFileName</key>
				<string>njq_s5_mc_text</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
