<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s2_mc_wolf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1162,596}</string>
				<key>spriteSourceSize</key>
				<string>{1162,596}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1162,596}</string>
				<key>spriteSourceSize</key>
				<string>{1162,596}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1162,0},{1162,596}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1162,596}</string>
				<key>spriteSourceSize</key>
				<string>{1162,596}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2324,0},{1162,596}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1162,596}</string>
				<key>spriteSourceSize</key>
				<string>{1162,596}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,596},{1162,596}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1162,596}</string>
				<key>spriteSourceSize</key>
				<string>{1162,596}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1162,596},{1162,596}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1162,596}</string>
				<key>spriteSourceSize</key>
				<string>{1162,596}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2324,596},{1162,596}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1162,596}</string>
				<key>spriteSourceSize</key>
				<string>{1162,596}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1192},{1162,596}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1162,596}</string>
				<key>spriteSourceSize</key>
				<string>{1162,596}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1162,1192},{1162,596}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1162,596}</string>
				<key>spriteSourceSize</key>
				<string>{1162,596}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2324,1192},{1162,596}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1162,596}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1162,596}</string>
				<key>spriteSourceSize</key>
				<string>{1162,596}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1788},{1162,596}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s2_mc_wolf.png</string>
				<key>textureFileName</key>
				<string>njq_s2_mc_wolf</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
