<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s2_mc_wolf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1156,601}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1156,601}</string>
				<key>spriteSourceSize</key>
				<string>{1156,601}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{1156,601}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1156,601}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1156,601}</string>
				<key>spriteSourceSize</key>
				<string>{1156,601}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,601},{1156,601}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1156,601}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1156,601}</string>
				<key>spriteSourceSize</key>
				<string>{1156,601}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1202},{1156,601}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1156,601}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1156,601}</string>
				<key>spriteSourceSize</key>
				<string>{1156,601}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1803},{1156,601}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s2_mc_wolf0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{512733511,143691751},{-512732355,-143691150}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1156,601}</string>
				<key>spriteSourceSize</key>
				<string>{-512732355,-143691150}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{-512732369,-143691150},{-512732355,-143691150}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>njq_s2_mc_wolf0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{278520867,194942183},{-278519711,-194941582}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1156,601}</string>
				<key>spriteSourceSize</key>
				<string>{-278519711,-194941582}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{-193630092,-194943968},{-278519711,-194941582}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>njq_s2_mc_wolf0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{512733511,143691751},{-512732355,-143691150}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1156,601}</string>
				<key>spriteSourceSize</key>
				<string>{-512732355,-143691150}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{-512732369,-143691150},{-512732355,-143691150}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>njq_s2_mc_wolf0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{512733511,143691751},{-512732355,-143691150}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1156,601}</string>
				<key>spriteSourceSize</key>
				<string>{-512732355,-143691150}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{-512732369,-143691150},{-512732355,-143691150}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>njq_s2_mc_wolf0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-842079220,446366241},{842080376,-446365640}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1156,601}</string>
				<key>spriteSourceSize</key>
				<string>{842080376,-446365640}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1027093041,540553777},{842080376,-446365640}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>njq_s2_mc_wolf0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{193643335,378331626},{-193642179,-378331025}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1156,601}</string>
				<key>spriteSourceSize</key>
				<string>{-193642179,-378331025}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{-277580479,-444962477},{-193642179,-378331025}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s2_mc_wolf.png</string>
				<key>textureFileName</key>
				<string>njq_s2_mc_wolf</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
