<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s5_mc_wolf_tail0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{496,0},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{992,0},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1488,0},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,587},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{496,587},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{992,587},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1488,587},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1174},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{496,1174},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{992,1174},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s5_mc_wolf_tail0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{496,587}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{496,587}</string>
				<key>spriteSourceSize</key>
				<string>{496,587}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1488,1174},{496,587}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s5_mc_wolf_tail.png</string>
				<key>textureFileName</key>
				<string>njq_s5_mc_wolf_tail</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
