<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s8_mc_tail0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{573,0},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1146,0},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,627},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{573,627},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1146,627},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1254},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{573,1254},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1146,1254},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1881},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{573,1881},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1146,1881},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,2508},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_tail0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{573,627}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{573,627}</string>
				<key>spriteSourceSize</key>
				<string>{573,627}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{573,2508},{573,627}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,4096}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s8_mc_tail.png</string>
				<key>textureFileName</key>
				<string>njq_s8_mc_tail</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
