<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s8_mc_text0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{616,0},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1232,0},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,249},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{616,249},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1232,249},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,498},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{616,498},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1232,498},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,747},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{616,747},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1232,747},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,996},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{616,996},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s8_mc_text0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,249}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{616,249}</string>
				<key>spriteSourceSize</key>
				<string>{616,249}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1232,996},{616,249}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s8_mc_text.png</string>
				<key>textureFileName</key>
				<string>njq_s8_mc_text</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
