<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s3_mc_wolf20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{657,0},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1314,0},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,494},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{657,494},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1314,494},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,988},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{657,988},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1314,988},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1482},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{657,1482},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s3_mc_wolf20011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{657,494}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{657,494}</string>
				<key>spriteSourceSize</key>
				<string>{657,494}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1314,1482},{657,494}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s3_mc_wolf2.png</string>
				<key>textureFileName</key>
				<string>njq_s3_mc_wolf2</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
