<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s6_mc_wolf_head10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{359,0},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{718,0},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1077,0},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1436,0},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,369},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{359,369},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{718,369},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1077,369},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1436,369},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,738},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{359,738},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{718,738},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s6_mc_wolf_head10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,369}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{359,369}</string>
				<key>spriteSourceSize</key>
				<string>{359,369}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1077,738},{359,369}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s6_mc_wolf_head1.png</string>
				<key>textureFileName</key>
				<string>njq_s6_mc_wolf_head1</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
