<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s15_mc_sun0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{468,0},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{936,0},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1404,0},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,467},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{468,467},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{936,467},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1404,467},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,934},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{468,934},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{936,934},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1404,934},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1401},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{468,1401},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{936,1401},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s15_mc_sun0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{468,467}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{468,467}</string>
				<key>spriteSourceSize</key>
				<string>{468,467}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1404,1401},{468,467}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s15_mc_sun.png</string>
				<key>textureFileName</key>
				<string>njq_s15_mc_sun</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
