<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s10_mc_pig0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1065,739}</string>
				<key>spriteSourceSize</key>
				<string>{1065,739}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s10_mc_pig0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1065,739}</string>
				<key>spriteSourceSize</key>
				<string>{1065,739}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1065,0},{1065,739}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s10_mc_pig0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1065,739}</string>
				<key>spriteSourceSize</key>
				<string>{1065,739}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2130,0},{1065,739}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s10_mc_pig0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1065,739}</string>
				<key>spriteSourceSize</key>
				<string>{1065,739}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,739},{1065,739}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s10_mc_pig0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1065,739}</string>
				<key>spriteSourceSize</key>
				<string>{1065,739}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1065,739},{1065,739}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s10_mc_pig0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1065,739}</string>
				<key>spriteSourceSize</key>
				<string>{1065,739}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2130,739},{1065,739}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s10_mc_pig0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1065,739}</string>
				<key>spriteSourceSize</key>
				<string>{1065,739}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1478},{1065,739}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s10_mc_pig0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1065,739}</string>
				<key>spriteSourceSize</key>
				<string>{1065,739}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1065,1478},{1065,739}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s10_mc_pig0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1065,739}</string>
				<key>spriteSourceSize</key>
				<string>{1065,739}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2130,1478},{1065,739}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s10_mc_pig0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1065,739}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1065,739}</string>
				<key>spriteSourceSize</key>
				<string>{1065,739}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,2217},{1065,739}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s10_mc_pig.png</string>
				<key>textureFileName</key>
				<string>njq_s10_mc_pig</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
