<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s12_mc_bear_head0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{705,691}</string>
				<key>spriteSourceSize</key>
				<string>{705,691}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s12_mc_bear_head0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{705,691}</string>
				<key>spriteSourceSize</key>
				<string>{705,691}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{705,0},{705,691}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s12_mc_bear_head0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{705,691}</string>
				<key>spriteSourceSize</key>
				<string>{705,691}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,691},{705,691}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s12_mc_bear_head0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{705,691}</string>
				<key>spriteSourceSize</key>
				<string>{705,691}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{705,691},{705,691}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s12_mc_bear_head0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{705,691}</string>
				<key>spriteSourceSize</key>
				<string>{705,691}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1382},{705,691}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s12_mc_bear_head0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{705,691}</string>
				<key>spriteSourceSize</key>
				<string>{705,691}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{705,1382},{705,691}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s12_mc_bear_head0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{705,691}</string>
				<key>spriteSourceSize</key>
				<string>{705,691}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,2073},{705,691}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s12_mc_bear_head0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{705,691}</string>
				<key>spriteSourceSize</key>
				<string>{705,691}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{705,2073},{705,691}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s12_mc_bear_head0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{705,691}</string>
				<key>spriteSourceSize</key>
				<string>{705,691}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,2764},{705,691}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s12_mc_bear_head0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{705,691}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{705,691}</string>
				<key>spriteSourceSize</key>
				<string>{705,691}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{705,2764},{705,691}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,4096}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s12_mc_bear_head.png</string>
				<key>textureFileName</key>
				<string>njq_s12_mc_bear_head</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
