<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>njq_s13_mc_moon0000</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,237}</string>
			<key>spriteSourceSize</key>
			<string>{217,237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>njq_s13_mc_moon0001</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,237}</string>
			<key>spriteSourceSize</key>
			<string>{217,237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{217,0},{217,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>njq_s13_mc_moon0002</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,237}</string>
			<key>spriteSourceSize</key>
			<string>{217,237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{434,0},{217,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>njq_s13_mc_moon0003</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,237}</string>
			<key>spriteSourceSize</key>
			<string>{217,237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{651,0},{217,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>njq_s13_mc_moon0004</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,237}</string>
			<key>spriteSourceSize</key>
			<string>{217,237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,237},{217,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>njq_s13_mc_moon0005</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,237}</string>
			<key>spriteSourceSize</key>
			<string>{217,237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{217,237},{217,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>njq_s13_mc_moon0006</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,237}</string>
			<key>spriteSourceSize</key>
			<string>{217,237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{434,237},{217,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>njq_s13_mc_moon0007</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,237}</string>
			<key>spriteSourceSize</key>
			<string>{217,237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{651,237},{217,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>njq_s13_mc_moon0008</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,237}</string>
			<key>spriteSourceSize</key>
			<string>{217,237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,474},{217,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>njq_s13_mc_moon0009</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,237}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,237}</string>
			<key>spriteSourceSize</key>
			<string>{217,237}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{217,474},{217,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>njq_s13_mc_moon.png</string>
			<key>textureFileName</key>
			<string>njq_s13_mc_moon</string>
			<key>textureFileExtension</key>
			<string>png</string>
			<key>premultipliedAlpha</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
