<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s1_mc_pig0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,208}</string>
				<key>spriteSourceSize</key>
				<string>{263,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_pig0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,208}</string>
				<key>spriteSourceSize</key>
				<string>{263,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{263,0},{263,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_pig0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,208}</string>
				<key>spriteSourceSize</key>
				<string>{263,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{526,0},{263,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_pig0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,208}</string>
				<key>spriteSourceSize</key>
				<string>{263,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,208},{263,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_pig0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,208}</string>
				<key>spriteSourceSize</key>
				<string>{263,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{263,208},{263,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_pig0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,208}</string>
				<key>spriteSourceSize</key>
				<string>{263,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{526,208},{263,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_pig0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,208}</string>
				<key>spriteSourceSize</key>
				<string>{263,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,416},{263,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_pig0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,208}</string>
				<key>spriteSourceSize</key>
				<string>{263,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{263,416},{263,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_pig0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,208}</string>
				<key>spriteSourceSize</key>
				<string>{263,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{526,416},{263,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_pig0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,208}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,208}</string>
				<key>spriteSourceSize</key>
				<string>{263,208}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,624},{263,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s1_mc_pig.png</string>
				<key>textureFileName</key>
				<string>njq_s1_mc_pig</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
