<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>njq_s1_mc_bear0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{348,339}</string>
				<key>spriteSourceSize</key>
				<string>{348,339}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_bear0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{348,339}</string>
				<key>spriteSourceSize</key>
				<string>{348,339}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,0},{348,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_bear0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{348,339}</string>
				<key>spriteSourceSize</key>
				<string>{348,339}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,339},{348,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_bear0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{348,339}</string>
				<key>spriteSourceSize</key>
				<string>{348,339}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,339},{348,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_bear0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{348,339}</string>
				<key>spriteSourceSize</key>
				<string>{348,339}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,678},{348,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_bear0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{348,339}</string>
				<key>spriteSourceSize</key>
				<string>{348,339}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,678},{348,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_bear0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{348,339}</string>
				<key>spriteSourceSize</key>
				<string>{348,339}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1017},{348,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_bear0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{348,339}</string>
				<key>spriteSourceSize</key>
				<string>{348,339}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,1017},{348,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_bear0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{348,339}</string>
				<key>spriteSourceSize</key>
				<string>{348,339}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1356},{348,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>njq_s1_mc_bear0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,339}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{348,339}</string>
				<key>spriteSourceSize</key>
				<string>{348,339}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{348,1356},{348,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>njq_s1_mc_bear.png</string>
				<key>textureFileName</key>
				<string>njq_s1_mc_bear</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
